<%inherit file="base.htm"/>

<%block name="content">


        <div class="row">
            %for AreaProduct in areaproducts:
            <div class="col-sm-4">
                <div class="thumbnail product" id="thumbnail">
                    <div class="item_container text-center">
                        <img src="${ STATIC_URL }homepage/media/artisian/${ AreaProduct.id }.jpg" style="width: 150px; height: 150px;" alt="Image not available"/>
                        <div class="caption" style="text-align:center;">
                            <h3 class="name">${ AreaProduct.name }</h3>
                            <p class="description"> ${ AreaProduct.description }</p>
                            <p>Price range: ${ AreaProduct.low_price } to ${ AreaProduct.high_price } </p>
                        </div>
                    </div>
                </div>
            </div>
            %endfor
        </div>


</%block>