<%inherit file="base.htm" />

<%block name="content">
	<h4>Select a Rental Instance</h4>
	<a href="/homepage/rentals.create/" class="button btn btn-primary">Add Rental Instance</a>
	<table class="table table-striped table-bordered">
		<tr>
			<td>ID</td>
			<td>Rental Time</td>
			<td>Due Date</td>
			<td>Discount</td>
			<td>Action</td>
		</tr>
		%for rental in rentals:
			<tr>
				<td>${ rental.id }</td>
				<td>${ rental.rental_time }</td>
				<td>${ rental.due_date }</td>
				<td>${ rental.discount_percent }</td>
				<td><a href="/homepage/rentals.edit/${ rental.id }/">Edit</a></td>
			</tr>
		%endfor
	</table>
</% block>